{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ShcpDocCtlPregunta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregdetalle</th>
                <th>Pregtipo</th>
                <th>Pregestado</th>
                <th>Pregseccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('shcpdocctlpregunta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pregDetalle }}</td>
                <td>{{ entity.pregTipo }}</td>
                <td>{{ entity.pregEstado }}</td>
                <td>{{ entity.pregSeccion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('shcpdocctlpregunta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('shcpdocctlpregunta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('shcpdocctlpregunta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
